{% extends 'base.html.twig' %}

{% block title %}Modifier les photos{% endblock %}

{% block body %}
<div class="container mx-auto">
    <div class="h1_title_container mx-auto mt-100px mb-5">
        <h1 class="text-center">Modifier les Photos</h1>
    </div>

    

    {{ include('site/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('site_index') }}">Retour à la liste</a>

    {{ include('site/_delete_form.html.twig') }}

</div>
{% endblock %}
