{% extends 'layout_admin.html.twig' %}

{% block title %}Créer un nouveau avis client{% endblock %}

{% block body %}
    <div class="container">
    <div class="h1_title_container mx-auto mt-100px mb-5">
        <h1 class="text-center">Laissez votre avis !</h1>
    </div>

    {{ include('customer_review/_form.html.twig') }}

    
    </div>
{% endblock %}