{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <div class="container mx-auto">
        <div class="h1_title_container mx-auto mt-100px mb-5">
            <h1 class="text-center">Modifier les villes</h1>
        </div>

        {{ include('city/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

        <a href="{{ path('city_index') }}">Retour à la liste</a>

        {{ include('city/_delete_form.html.twig') }}
    </div>
{% endblock %}
